<p>Hey there! A new editor applicant by the name of {{name}} whose email is {{email}} has submitted an application to become an editor on v2.</p>
<p>View profile: <a href="{{siteurl}}/keystone/users/{{userId}}">{{siteurl}}/keystone/users/{{userId}}</a></p>
<p>Sample 1: <a href="{{sample1}}">{{sample1}}</a></p>
<p>Sample 2: <a href="{{sample2}}">{{sample2}}</a></p>