<p>Please click this link to reset your password:</p>

<a href="{{siteurl}}/#/login/new-password?email={{email}}&confirmationKey={{confirmationKey}}">{{siteurl}}/#/login/new-password?email={{email}}&confirmationKey={{confirmationKey}}</a>.
</p>