<p>Please click this link to confirm your email account: 

<a href="{{siteurl}}/api/v1/members/account/verifyEmail?email={{email}}&confirmation={{confirmationKey}}">{{siteurl}}/api/v1/members/account/verifyEmail?email={{email}}&confirmation={{confirmationKey}}</a>.
</p>